@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray900: #121214;
    --gray800: #202024;
    --gray700: #29292e;
    --gray500: #323238;
    --gray400: #7c7c8a;
    --gray300: #c4c4cc;
    --gray100: #E1E1E6;

    --white: #fff;

    --green700: #015F43;
    --green500: #00875f;
    --green300: #00b37e;

    --red500: #aa2834;
    --red300: #f75A68;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media(max-width: 1120px) {
        font-size: 93.75%;
    }

    @media(max-width: 720px) {
        font-size: 87.5%;
    }
}   

body {
    background-color: var(--gray900);
    --webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    color: var(--gray100);
}

button {
    cursor: pointer;
}

[disable] {
    opacity: 0.6;
    cursor: not-allowed;
}